{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accountlist %} 
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number }}</td>
            {% endfor %}
                {% for receipt in favoritereceipts %} 
                <td>{{ receipt.total }}</td>
                {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}