{% extends 'base.html' %} 
{% load static %} 
<main>
    <div>
        <h1>Create Receipt</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="text" name="vendor">
            <input type="text" name="total">
            <input type="text" name="tax">
            <input type="text" name="due_date">
            <select name="category" id="category"></select>
            <select name="account" id="account"></select>
            <button type="submit">Create</button>
        </form>
    </div>
</main>